body{
  background-color: black;
  color: white;
}
body::-webkit-scrollbar{
  display: none;
}

.nav_bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: blueviolet;
}
.nav{
  width: 100%;
}
.search_bar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 20px;
  width: 30%;
  padding: 10px;
}
.search_bar input{
  border: none;
  background-color: black;
  color: white;
  width: 400px;
}
.search_bar input::placeholder{
  font-weight: bold;
  color: white;
}
.search_bar input:focus{
outline: none;

}

.sub_bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: blue;
}
.sub_bar .items{
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.sub_bar .items:hover{
  background-color: black;
}

td{
  vertical-align: middle;
  cursor: pointer;
}